body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FDFFFC;
  color: #011627;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #E71D36;
  background-size: 100vw;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 5vw;
}
#navleft-box{
  display: flex;
  margin-left: 40px;
}
#navright-box{
  display: flex;
  margin-right: 40px;
}
#nav-logo{
  height: 250%;
}
#nav-logo:hover{
  height: 250%;
  transform: translateY(10px)
}
#nav-gamelogo{
  height: 100%;
  margin: 10px 15px 0 15px;
  -webkit-filter: invert(100%); 
  filter: invert(100%);
}
#nav-gamelogo:hover{
  height: 100%;
  -webkit-filter: invert(0%); 
  filter: invert(0%);
transform: translateY(8px);
}
#nav-aboutlogo{
  height: 100%;
  -webkit-filter: invert(100%); 
  filter: invert(100%);
  margin: 10px 0px 0px 10px
}
#nav-aboutlogo:hover{
  height: 100%;
  -webkit-filter: invert(0%); 
  filter: invert(0%);
transform: translateY(5px);
}
#nav-scorelogo{
  height: 100%;
  margin: 10px 15px 0 15px;
  -webkit-filter: invert(100%); 
  filter: invert(100%);
}
#nav-scorelogo:hover{
  height: 100%;
  -webkit-filter: invert(0%); 
  filter: invert(0%);
transform: translateY(5px);
}
#nav-username{
  margin: 30px;
}
nav a{
  text-decoration: none;
  color: #FDFFFC;
  font-family: 'Orelega One', cursive;
  font-weight: 400;
  font-size: 25px;
}

nav a:hover{
  color:#FF9F1C;
}

.wrapper{
  display: flex;
  margin-top: 30px;
  justify-content: center;
  margin-bottom: 10px;
}


.no-no{
margin-top: 30px;
}

.button button{
  margin-top: 20px;
  width: 75px;
  height: 30px;
  background-color: #FDFFFC;
  border-radius: 8px;
  border-color:#2EC4B6 ;
}

.button button:hover{
  background-color: #2EC4B6;
  color:#FDFFFC;
}

.button button:disabled:hover{
  border-color:#E71D36 ;
  background-color:#FDFFFC;
  color:lightgray;
}

.logo p{
  font-size: 70px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  color: black;
}

.register {
height: 300px;
width: 400px;
padding-top: 5px;
margin: auto;
background-color: #edefec;
border-radius: 16px;
}

.register h3{
  padding-top:10px;
  padding-bottom: 5px;
}

.register-wrapper h2{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 32px;
}


.register button {
  width: 75px;
  height: 30px;
  background-color: #FDFFFC;
  border-radius: 8px;
}

.register button:enabled{
  border-color: #2EC4B6;
}

.register button:enabled:hover{
  background-color: #2EC4B6;
  color:#FDFFFC;
}

form .register-form{
  margin: 5px;
}

.input-wrapper{
  margin: 20px;
}

input {
  margin-left: 5px;
}

.signin{
background-color: #edefec;
border-radius: 16px;
height: 200px;
width: 350px;
padding-top: 30px;
margin: auto;
}

.signin button:disabled{
  width: 75px;
  height: 30px;
  background-color: #FDFFFC;
  border-radius: 8px;
  border-color: #E71D36
}

.signin button:disabled:hover{
  width: 75px;
  height: 30px;
  background-color: #FDFFFC;
  border-radius: 8px;
  border-color: #E71D36;
  color: rgb(204, 203, 203);
}

.signin button:enabled{
  width: 75px;
  height: 30px;
  background-color: #FDFFFC;
  border-radius: 8px;
  border-color: #2EC4B6
}

.signin button:enabled:hover{
  background-color: #2EC4B6;
  color:#FDFFFC;
}

form .signin-form{
  margin: 5px;
}

.signin-main h3{
  margin-top: 25px;
}

.register-button button{
  margin-top: 2px;
}

.about h2{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 32px;
}

.about-blurb{
  width:600px;
  margin:auto;
  margin-bottom: 15px;
}

.dev-wrapper{
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.dev-card1{
  padding-top: 15px;
  height: 400px;
  width: 350px;
  justify-content: center;
  text-align: center;
  margin: 10px;
  background-color: #E71D36;
  border-radius: 16px;
  color: #011627;
}

.dev-card2{
  padding-top: 15px;
  height: 400px;
  width: 350px;
  justify-content: center;
  text-align: center;
  margin: 10px;
  background-color: #2EC4B6;
  border-radius: 16px;
  color: #011627;
}

.dev-card3{
  padding-top: 15px;
  height: 400px;
  width: 350px;
  justify-content: center;
  text-align: center;
  margin: 10px;
  background-color:#FF9F1C;
  border-radius: 16px;
  color: #011627;
}

.dev-card1 a{
  text-decoration: none;
  font-family: 'Source Sans Pro Bold 700', sans-serif;
  font-size: 18px;
  color:#FDFFFC;
}

.dev-card2 a{
  text-decoration: none;
  font-family: 'Source Sans Pro Bold 700', sans-serif;
  font-size: 18px;
  color:#FDFFFC;
}

.dev-card3 a{
  text-decoration: none;
  font-family: 'Source Sans Pro Bold 700', sans-serif;
  font-size: 18px;
  color:#FDFFFC;
}
.dev-card1 a:hover{
  color:#2EC4B6;
}

.dev-card2 a:hover{
  
  color:#FF9F1C;
}

.dev-card3 a:hover{
  color:#E71D36;
}

.dev-card1 p{
  padding-left: 10px;
  padding-right: 10px;
}

.dev-card2 p{
  padding-left: 10px;
  padding-right: 10px;
}

.dev-card3 p{
  padding-left: 10px;
  padding-right: 10px;
}

.dev-card1 img{
  height: 200px;
  width: 200px;
  border-radius: 16px;
  border: 2px solid #FDFFFC;
  margin-top: 5px;
}

.dev-card2 img{
  height: 200px;
  width: 200px;
  border-radius: 16px;
  border: 2px solid #FDFFFC;
  margin-top: 5px;
}

.dev-card3 img{
  height: 200px;
  width: 200px;
  border-radius: 16px;
  border: 2px solid #FDFFFC;
  margin-top: 5px;
}

.gameboard{
  height: 500px;
  width: 600px;
  border: solid 3px #E71D36;
  border-radius: 16px;
  margin:auto;
}

.question{
  margin:auto;
  margin-top: 10px;
}

.game-button{
  margin-top: 20px;
  width: 75px;
  height: 30px;
  background-color: #FDFFFC;
  border-radius: 8px;
  border-color:#2EC4B6 ;
}

.game-button:hover{
  background-color: #2EC4B6;
  color:#FDFFFC;
}

.gameplay-wrapper h2{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 32px;
}

.scores-wrapper{
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.your-scores{
  width: 300px;
  margin:auto;
  background-color: #2EC4B6;
  color:#FDFFFC;
  border-radius: 16px;
  margin-top: 20px;
}

.your-scores h2{
  padding-top: 5px;
}

.your-scores li{
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Orelega One', cursive;
  font-size: 20px;
}

.zip-leader{
  width: 300px;
  margin:auto;
  background-color:#E71D36;
  border-radius: 16px;
  color:#FDFFFC;
  margin-top: 20px;
}
.zip-leader h2{
  padding-top: 5px;
}

.zip-leader li{
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Orelega One', cursive;
  font-size: 20px;
}

.leader-scores{
  width: 300px;
  margin:auto;
  background-color: #FF9F1C;
  border-radius: 16px;
  color:#FDFFFC;
  margin-top:20px;
}

.leader-scores h2{
  padding-top: 5px;
}

.leader-scores li{
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Orelega One', cursive;
  font-size: 20px;
}
#hms-title, #hmds-title{
  display:flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 40px;
}
#star-container{
  display:flex;
  top: 20px;
  position:relative;
  left:540px;
}
#dollar-container{
  display:flex;
  top: 20px;
  position:relative;
  left:585px;
}
#star-img{
  position: relative;
  width: 165px;
  left: 540px;
  top: 15px;
}
#dollar-img{
  position: relative;
  width: 165px;
  left: 585px;
  top: 15px;
}


.stars{
  height: 28px;
  width: 15px;
  margin:.6px;
  padding: .1px;
  display: flex;
  flex-direction: row;
  
  transform: translatey(-35px);

}
.dollars{
  height: 28px;
  width: 15px;
  
  margin:2.6px;
  padding: .1px;
  display: flex;
  flex-direction: row;
  
  transform: translatey(-35px);

}

#business-image{
  max-height: 400px;
  width: auto;
}
.flareAnimationStop{
  opacity: 0;
  animation: none;
}

.flareAnimationGo{
  animation: flare 1s 1;
  font-weight: bolder;
  z-index: -100;
  font-size:44px;
  
}
@keyframes flare {
  99%  {
    transform: translatey(-20px);
  }
  100%{
    opacity: 0;
  }
}
#dollar-img{
  width: 80px;
}
#review{
  font-size: 24px;
}